# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Hypothesis
.hypothesis/

# Pytest
.pytest_cache/
*.pytest_cache

# Coverage
.coverage
htmlcov/

# Env
.env

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
